In [1]:
import create_bbdd as db

import

In [3]:
db(r'/Users/carlasanchezvalles/data_driven_project/data_driven_test')

TypeError: 'module' object is not callable

In [3]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def main():
    database = r"./bookings.db"

    sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS projects (
                                        id integer PRIMARY KEY,
                                        name text NOT NULL,
                                        begin_date text,
                                        end_date text
                                    ); """

    sql_create_tasks_table = """CREATE TABLE IF NOT EXISTS tasks (
                                    id integer PRIMARY KEY,
                                    name text NOT NULL,
                                    priority integer,
                                    status_id integer NOT NULL,
                                    project_id integer NOT NULL,
                                    begin_date text NOT NULL,
                                    end_date text NOT NULL,
                                    FOREIGN KEY (project_id) REFERENCES projects (id)
                                );"""

    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create projects table
        create_table(conn, sql_create_projects_table)

        # create tasks table
        create_table(conn, sql_create_tasks_table)
    else:
        print("Error! cannot create the database connection.")

In [4]:
if __name__ == '__main__':
    main()

### USERS SOURCE (API)

In [7]:
#get data from API and save it
raw_users = src.get_save_data('https://jsonplaceholder.typicode.com/users', 'raw_users.csv')

NameError: name 'src' is not defined

#### TRANSFORMATION

In [3]:
list_columns_norm = ['address', 'company']
#normalize and delete some columns
users_df = src.normalize_column(raw_users, list_columns_norm)

list_columns_rename = ['user_id', 'user_name', 'user_username', 'user_email', 'user_phone', 'website', 'user_street', 'user_suite', 'user_city', 'user_zipcode', 'user_lat', 'user_lng', 'company_name', 'company_catchPhrase', 'company_bs']
#Rename and capitalize all columns
users_df = src.capitalize_rename_columns(users_df, list_columns_rename)

In [6]:
#divide users_df in two df: users data and users company
users = users_df.iloc[:,:12]

NameError: name 'users_df' is not defined

In [5]:
users

NameError: name 'users' is not defined

In [49]:
users.iloc[:,users.columns.get_loc('USER_EMAIL'):].columns.to_list()

['USER_EMAIL',
 'USER_PHONE',
 'WEBSITE',
 'USER_STREET',
 'USER_SUITE',
 'USER_CITY',
 'USER_ZIPCODE',
 'USER_LAT',
 'USER_LNG']

#### USERS DF

##### EXTEND DATA

In [5]:
#extend user numbers and save csv file (only once)
users_extended = src.random_users(55000, users)

##### CLEANING

In [6]:
#read the csv to avoid running the above code
users_extended = pd.read_csv('users_extended.csv')
users_extended

,USER_ID,USER_NAME,USER_USERNAME,USER_EMAIL,USER_PHONE,WEBSITE,USER_STREET,USER_SUITE,USER_CITY,USER_ZIPCODE,USER_LAT,USER_LNG
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.315900,81.149600
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.950900,-34.461800
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.610200,-47.065300
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.457200,-164.299000
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.812900,62.534200
...,...,...,...,...,...,...,...,...,...,...,...,...
55005,55006,Alexander Hughes,hamiltonthomas,martinezvictoria@example.net,846.209.1759x957,https://www.campbell.com/,525 Jackson Port,Apt. 878,North Stephanieton,19518,39.375597,97.178865
55006,55007,Paul Kim,robertrussell,staffordwilliam@example.net,325.916.7235x093,http://www.townsend.info/,526 Dennis Harbor Apt. 889,Apt. 691,New Marystad,01913,-22.499807,34.631837
55007,55008,Elizabeth Brewer,mercadolisa,charles49@example.org,001-804-520-9188x5650,http://brown.com/,149 Figueroa Walks Apt. 711,Suite 269,Lake Amandaland,57758,-25.364915,-140.349789
55008,55009,Amanda Underwood,wsimmons,jennifer14@example.org,625-816-9453,https://dean-jones.com/,8959 Karen Glen,Suite 848,West Brent,45819,-5.524719,-176.450230
55009,55010,Erica Newman,angel66,cannonandrea@example.com,+1-377-741-0061x797,https://www.robbins-ford.com/,4986 Courtney Neck Suite 280,Suite 431,Port Jenniferstad,06610,46.288657,-1.185294

In [7]:
#put lowercase all data
users_extended = src.lowercase(users_extended)

#remove 'mrs.' from USER_NAME
users_extended['USER_NAME'] = users_extended['USER_NAME'].str.replace('mrs. ','', regex = False)


#add 'https://www.' to website
users_extended['WEBSITE'] = users_extended['WEBSITE'].apply(src.add_https)

#clean street column
users_extended['USER_STREET'] = users_extended['USER_STREET'].apply(src.clean_user_street)

In [8]:
users_extended.shape

(55010, 12)

In [40]:
users_extended.columns

Index(['USER_ID', 'USER_NAME', 'USER_USERNAME', 'USER_EMAIL', 'USER_PHONE',
       'WEBSITE', 'USER_STREET', 'USER_SUITE', 'USER_CITY', 'USER_ZIPCODE',
       'USER_LAT', 'USER_LNG'],
      dtype='object')

#### COMPANIES DF

In [9]:
companies_id = {
    'COMPANY_ID' : range(1,11)
}

companies_id = pd.DataFrame(companies_id)
#second df + USER_ID and COMPANY_ID column
users_companies= pd.concat([companies_id, users_df['USER_ID'],users_df.iloc[:,12:]], axis=1)

In [41]:
users_companies.columns

Index(['COMPANY_ID', 'USER_ID', 'COMPANY_NAME', 'COMPANY_CATCHPHRASE',
       'COMPANY_BS'],
      dtype='object')

##### EXTEND DATA

In [11]:
#extend companies numbers and save csv file (only once)
#users_companies_extended = src.random_companies(55010, 34567, users_companies)

In [12]:
users_companies_extended = pd.read_csv('companies_extended.csv')
users_companies_extended

,COMPANY_ID,USER_ID,COMPANY_NAME,COMPANY_CATCHPHRASE,COMPANY_BS
0,1,1,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,2,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,3,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,4,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,5,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
...,...,...,...,...,...
34572,34573,47346,Reed Ltd,Switchable 3rdgeneration capacity,seize ubiquitous models
34573,34574,33836,Roberts-Williams,Reactive object-oriented algorithm,whiteboard best-of-breed action-items
34574,34575,24649,Woods Ltd,Reverse-engineered 6thgeneration strategy,whiteboard clicks-and-mortar technologies
34575,34576,26665,Mann-Shaffer,Stand-alone mobile support,synergize synergistic bandwidth
34576,34577,51468,"Costa, Wilson and Howard",Phased responsive interface,innovate rich web-readiness

In [13]:
users_companies_extended.shape

(34577, 5)

### BOOKINGS SOURCE

In [14]:
#read second source
booking_df= pd.read_csv('raw_bookings.csv', sep=';')
booking_df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,agent,reservation_status,reservation_status_date
0,Resort Hotel,0,109,2016,January,1,0,1,2,0,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,Resort Hotel,0,109,2016,January,1,0,1,2,2,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,Resort Hotel,1,2,2016,January,1,0,1,2,0,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,Resort Hotel,0,88,2016,January,1,0,2,2,0,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,Resort Hotel,1,20,2016,January,1,0,2,2,2,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,City Hotel,0,17,2016,December,30,2,5,2,0,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,City Hotel,0,177,2016,December,30,2,5,0,0,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,City Hotel,0,107,2016,December,31,2,5,2,0,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,City Hotel,0,310,2016,December,27,2,10,2,0,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [16]:
list_columns_r = ['hotel', 'canceled', 'lead_time', 'arrival_year','arrival_month', 'arrival_day','stays_in_weekend_nights', 'stays_week_nights', 'adults', 'children','meal', 'country', 'repeated_guest', 'previous_cancellations','previous_bookings_not_canceled','reserved_room_type','assigned_room_type', 'agent', 'reservation_status','reservation_status_date']

#Rename and capitalize all columns
booking_df = src.capitalize_rename_columns(booking_df, list_columns_r)

In [18]:
#add booking_codes and user_ids to bookings
bookings_df = src.add_bookings_code(55010, booking_df)
bookings_df

,BOOKING_CODE,USER_ID,HOTEL,CANCELED,LEAD_TIME,ARRIVAL_YEAR,ARRIVAL_MONTH,ARRIVAL_DAY,STAYS_IN_WEEKEND_NIGHTS,STAYS_WEEK_NIGHTS,...,MEAL,COUNTRY,REPEATED_GUEST,PREVIOUS_CANCELLATIONS,PREVIOUS_BOOKINGS_NOT_CANCELED,RESERVED_ROOM_TYPE,ASSIGNED_ROOM_TYPE,AGENT,RESERVATION_STATUS,RESERVATION_STATUS_DATE
0,YTY73LGB0VA921N9B,31250,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,A,D,2.0,Check-Out,02/01/2016
1,DY0UZ0LT851F8R4SX,29738,Resort Hotel,0,109,2016,January,1,0,1,...,BB,RUS,0,0,0,H,H,2.0,Check-Out,02/01/2016
2,M9XBXLLX8V31EBM9Z,51627,Resort Hotel,1,2,2016,January,1,0,1,...,BB,PRT,0,0,0,D,D,2.0,No-Show,01/01/2016
3,XEU170WT9SVJV22S4,48564,Resort Hotel,0,88,2016,January,1,0,2,...,HB,ARG,0,0,0,A,D,2.0,Check-Out,03/01/2016
4,U18AJY2K5BB0D7RHH,5950,Resort Hotel,1,20,2016,January,1,0,2,...,BB,PRT,0,0,0,G,G,2.0,Canceled,22/12/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56702,B48WW51J80MB2HMAS,20773,City Hotel,0,17,2016,December,30,2,5,...,SC,FRA,0,0,0,A,A,9.0,Check-Out,06/01/2017
56703,MR8EPXBT30S3AP22W,17904,City Hotel,0,177,2016,December,30,2,5,...,BB,PRT,0,0,0,E,K,NaN,Check-Out,06/01/2017
56704,4DHMWZK522F4UW1DW,11593,City Hotel,0,107,2016,December,31,2,5,...,BB,FRA,0,0,0,A,B,2.0,Check-Out,07/01/2017
56705,55HYDFAC856NMW713,25133,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017
56706,8RPMS7B180NTLMGP1,8604,City Hotel,0,310,2016,December,27,2,10,...,SC,DEU,0,0,0,A,A,9.0,Check-Out,08/01/2017

In [43]:
bookings_df.to_csv('bookings.csv', index=False)

In [42]:
bookings_df.columns

Index(['BOOKING_CODE', 'USER_ID', 'HOTEL', 'CANCELED', 'LEAD_TIME',
       'ARRIVAL_YEAR', 'ARRIVAL_MONTH', 'ARRIVAL_DAY',
       'STAYS_IN_WEEKEND_NIGHTS', 'STAYS_WEEK_NIGHTS', 'ADULTS', 'CHILDREN',
       'MEAL', 'COUNTRY', 'REPEATED_GUEST', 'PREVIOUS_CANCELLATIONS',
       'PREVIOUS_BOOKINGS_NOT_CANCELED', 'RESERVED_ROOM_TYPE',
       'ASSIGNED_ROOM_TYPE', 'AGENT', 'RESERVATION_STATUS',
       'RESERVATION_STATUS_DATE'],
      dtype='object')

In [22]:
#####

def db():
    return sqlite3.connect("bookings.db")

In [25]:
db()

In [26]:
def create_tables(table_name, column_dict):
        db().execute('CREATE TABLE "USERS" ("USER_ID" integer,"USER_NAME" varchar,"USER_USERNAME" varchar,"USER_EMAIL" varchar,"USER_PHONE" varchar,"WEBSITE" varchar,"USER_STREET" varchar,"USER_SUITE" varchar,"USER_CITY" varchar,"USER_ZIPCODE" varchar, "USER_LAT" integer, "USER_LNG" integer,PRIMARY KEY (USER_ID));')
        db().execute("CREATE TABLE 'COMPANIES' ('COMPANY_ID' integer, 'USER_ID' integer, 'COMPANY_NAME' varchar, 'COMPANY_CATCHPHRASE' varchar,'COMPANY_BS' varchar, PRIMARY KEY (COMPANY_ID));")
        db().execute("CREATE TABLE 'BOOKINGS' ('BOOKING_CODE' varchar, 'USER_ID' integer, 'HOTEL' varchar, 'CANCELED' boolean, 'LEAD_TIME' numeric,'ARRIVAL_YEAR' numeric, 'ARRIVAL_MONTH' varchar, 'ARRIVAL_DAY' numeric,'STAYS_IN_WEEKEND_NIGHTS' numeric, 'STAYS_WEEK_NIGHTS' numeric, 'ADULTS' numeric, 'CHILDREN' numeric,'MEAL' varchar, 'COUNTRY' varchar, 'REPEATED_GUEST' numeric, 'PREVIOUS_CANCELLATIONS' numeric,'PREVIOUS_BOOKINGS_NOT_CANCELED' numeric, 'RESERVED_ROOM_TYPE' varchar,'ASSIGNED_ROOM_TYPE' varchar, 'AGENT' numeric, 'RESERVATION_STATUS' varchar,'RESERVATION_STATUS_DATE' date, PRIMARY KEY (COMPANY_ID));")

create_tables()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3926223065.py, line 3)

In [ ]:
cursor.execute('''
        CREATE TABLE IF NOT EXISTS raw_users (
            id INTEGER PRIMARY KEY,
            name TEXT,
            username TEXT,
            email TEXT,
            address TEXT,
            phone TEXT,
            website TEXT,
            company TEXT,
            company_id INTEGER,
            FOREIGN KEY (company_id) REFERENCES COMPANIES(COMPANY_ID)
        );
    ''')
    
    #raw_bookings
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS raw_bookings (
            booking_code INTEGER PRIMARY KEY,
            Hotel TEXT,
            Is_canceled INTEGER,
            lead_time INTEGER,
            arrival_date_year INTEGER,
            arrival_date_month INTEGER,
            arrival_date_day_of_month INTEGER,
            stays_in_weekend_nights INTEGER,
            stays_in_week_nights INTEGER,
            adults INTEGER,
            children INTEGER,
            meal TEXT,
            country TEXT,
            is_repeated_guest INTEGER,
            previous_cancellations INTEGER,
            previous_bookings_not_canceled INTEGER,
            reserved_room_type TEXT,
            assigned_room_type TEXT,
            agent INTEGER,
            reservation_status TEXT,
            reservation_status_date TEXT,
            user_id INTEGER
            FOREIGN KEY (user_id) REFERENCES raw_users(id)
        )
    ''')

    #USERS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS DIM_USERS (
            USER_ID INTEGER PRIMARY KEY,
            USER_NAME TEXT,
            USER_EMAIL TEXT,
            USER_ADDRESS TEXT,
            USER_PHONE TEXT,
            USER_WEBSITE TEXT,
            COMPANY_ID INTEGER,
            
            FOREIGN KEY (COMPANY_ID) REFERENCES COMPANIES(COMPANY_ID)
        )
    ''')

    #COMPANIES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS DIM_COMPANIES (
            COMPANY_ID INTEGER PRIMARY KEY,
            COMPANY_NAME TEXT,
            USER_ID INTEGER,
            FOREIGN KEY (USER_ID) REFERENCES USERS(USER_ID)
        )
    ''')

    #HOTELS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS HOTELS (
            HOTEL_ID INTEGER PRIMARY KEY,
            HOTEL_NAME TEXT
        )
    ''')

    #AGENTS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS AGENTS (
            AGENT_ID INTEGER PRIMARY KEY,
            AGENT_NAME TEXT
        )
    ''')

    #MEAL_TYPES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS MEAL_TYPES (
            MEAL_ID INTEGER PRIMARY KEY,
            MEAL_NAME TEXT
        )
    ''')

    #ROOM_TYPES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS DIM_ROOMS (
            ROOM_ID INTEGER PRIMARY KEY,
            ROOM_NAME TEXT
        )
    ''')
    
    #COUNTRIES
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS COUNTRIES (
            COUNTRY_ID TEXT PRIMARY KEY,
            COUNTRY TEXT
        )
    ''')
    

    #BOOKINGS
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS BOOKINGS (
            BOOKING_CODE INTEGER PRIMARY KEY,
            USER_ID INTEGER,
            HOTEL_ID INTEGER,
            ARRIVAL_DATE TEXT,
            DEPARTURE_DATE TEXT,
            RESERVATION_DATE TEXT,
            ADULTS INTEGER,
            CHILDREN INTEGER,
            MEAL_ID INTEGER,
            COUNTRY_ID INTEGER,
            RESERVED_ROOM_TYPE_ID INTEGER,
            ASSIGNED_ROOM_TYPE_ID INTEGER,
            AGENT_ID INTEGER,
            STATUS TEXT,
            LAST_UPDATED_AT TEXT,
            
            FOREIGN KEY (USER_ID) REFERENCES USERS(USER_ID)
            FOREIGN KEY (HOTEL_ID) REFERENCES HOTELS(HOTEL_ID),
            FOREIGN KEY (MEAL_ID) REFERENCES MEAL_TYPES(MEAL_ID),
            FOREIGN KEY (COUNTRY_ID) REFERENCES COUNTRIES(COUNTRY_ID),
            FOREIGN KEY (RESERVED_ROOM_TYPE_ID) REFERENCES ROOM_TYPES(ROOM_ID),
            FOREIGN KEY (ASSIGNED_ROOM_TYPE_ID) REFERENCES ROOM_TYPES(ROOM_ID),
            FOREIGN KEY (AGENT_ID) REFERENCES agents(AGENT_ID)
        )
    ''')

In [ ]:
sql_create_raw_users

sql_create_raw_bookings

sql_create_dim_users
sql_create_dim_companies
sql_create_dim_hotels
sql_create_dim_agents
sql_create_dim_meals
sql_create_dim_countries
sql_create_bookings